[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/vim-jslint"]
	path = bundle/vim-jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/ddollar/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-js"]
	path = bundle/vim-js
	url = git://github.com/vim-scripts/Simple-Javascript-Indenter.git
[submodule "bundle/vim-rainbow"]
	path = bundle/vim-rainbow
	url = git://github.com/chrismetcalf/vim-rainbow.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-sql-utilities"]
	path = bundle/vim-sql-utilities
	url = https://github.com/vim-scripts/SQLUtilities
[submodule "bundle/vim-sql-iabbr"]
	path = bundle/vim-sql-iabbr
	url = https://github.com/vim-scripts/sql_iabbr-2.git
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = git://github.com/vim-scripts/pep8--Yusuke.git
[submodule "bundle/vim-autotag"]
	path = bundle/vim-autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/vim-indent-guide"]
	path = bundle/vim-indent-guide
	url = git://github.com/vim-scripts/Indent-Guides.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git://github.com/vim-scripts/virtualenv.vim.git
[submodule "bundle/vim-restart"]
	path = bundle/vim-restart
	url = git://github.com/vim-scripts/restart.vim.git
[submodule "bundle/vim-tagbar"]
	path = bundle/vim-tagbar
	url = git://github.com/majutsushi/tagbar.git
